* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 48px;
}

@media (max-width: 625px){
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 389px){
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* header */

.header__row {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFF5FB;
  margin-bottom: 16px;
}

.header__links {
  display: flex;
  gap: 30px;
}

.header__links a {
  color: #333333;
  font-weight: 500;
  transition: color 0.2s;
}

.header__links a:hover {
  color: rgba(51, 51, 51, 0.6);
}

.header__btn {
  padding: 14px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #03b2a5;
  background-color: #E3F5F5;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 100px; 
  transition: background-color 0.2s;
}

.header__btn:hover {
  cursor: pointer;
  background-color: #d1f0f0;
}

.header__burger {
  display: none;
}

.header__burger span {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #03b2a5;
  margin-bottom: 2px;
  border-radius: 5px;
}

@media (max-width: 1150px) {
  .header__links {
    gap: 15px;
  }
  .header__btn {
    margin-left: 0; 
  } 
}

@media (max-width: 930px) {
  .header__nav {
   display: none; 
  }
  .header__btn {
    display: none; 
  } 
  .header__burger {
    display: block;
  }
}

/* main */

main {
  position: relative;
  overflow: hidden;
}

.hero__nav p {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 34px;
}

.hero > .hero__categories {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  .hero > .hero__categories {
  flex-wrap: nowrap;
  overflow-x: scroll; 
  }
}

.hero__category, .category {
  font-weight: 600;
  padding: 6px 8px;
  border: 1px solid #C1C5CD;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1 0 auto;
}

li.hero__category.active {
  border: 2px solid #16C8BB;
  transition: background-color 0.2s;
}

li.hero__category:hover {
  cursor: pointer;
  background-color: #E3F5F5;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.7em;
}

.hero__cards {
  margin-bottom: 24px;
}

@media (max-width: 930px) {
  .hero__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #C1C5CD;
  position: relative;
}

.hero__card {
  width: 588px;
}

@media (max-width: 930px) {
  .hero__card {
    width: 100%;
  }
}

.hero__card:hover {
  cursor: pointer;
}

.card .categories {
  position: absolute;
  top: 8px;
  left: 8px;
  max-width: 300px;
}

.card .categories .category {
  display: inline-flex;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, .7);
}

.hero__card-img {
  width: 100%;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.hero__card-content {
  min-height: 240px;
}

.card-articel{
  flex: 1 1 auto;
}

.card-title {
  margin-bottom: 4px;
}

.card-author {
  margin-bottom: 8px;
  font-size: 12px;
  color: #494949;
}

.hero__card-text {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-date {
  font-size: 12px;
  color: #868686;
}

/* section articles */

.articles__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 56px;
}

@media (max-width: 930px) {
  .articles__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .articles__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .articles__card {
    width: 100%;
  }
}

.articles__card {
  max-width: 100%;
}

.articles__card a {
  color: #333333;
}

.articles__card:hover {
  cursor: pointer;
}

.articles__card-img {
  width: 100%;
}

.articles__card-content {
  min-height: 200px;
}

.articles__btn {
  padding: 12px 73px;
  color: white;
  background-color: #35B3A9;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  margin-bottom: 96px;
  transition: background-color 0.2s;
}

.articles__btn:hover {
  cursor: pointer;
  background-color: #3acabe;
}

/* footer */

.footer {
  background-color: #2963A3;
  padding: 40px 120px 17px 120px;
}

@media (max-width: 1200px) {
  .footer {
      padding: 40px 20px 17px 20px;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
  border-bottom: 1px solid rgba(157, 157, 157, 0.3);
  padding-bottom: 24px;
  margin-bottom: 16px;
}

@media (max-width: 1179px) {
  .footer__row {
    flex-wrap: wrap;
  }
}

.footer__nav {
  display: flex;
  gap: 3vw;
}

@media (max-width: 830px) {
  .footer__nav {
    gap: 100px;    
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  transition: opacity 0.2s;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer__subscription  {
  max-width: 485px;
}

.footer__subscription p:first-child {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 8px;
  max-width: 385px;
}

.footer__form {
  max-width: 385px;
  position: relative;
  margin-bottom: 8px;
}

.footer__input {
  padding: 14px 16px;
  outline: none;
  width: 100%;  
  border-radius: 5px;
}

.footer__input::placeholder {
  color: #9D9D9D;
}

.footer__btn {
  padding: 10px 20px;
  background-color: #16C8BB;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s;
}

.footer__btn:hover {
  cursor: pointer;
  background-color: #12b0a6;
}

.footer__subscription p:last-child {
  color: #FFFFFF;
  font-size: 12px;
  opacity: 0.7;
  line-height: 16px;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__logo:hover {
  cursor: pointer;
}

.footer__socnet-links {
  display: flex;
  gap: 16px;
}

.footer__socnet-links:hover {
  cursor: pointer;
}

.footer__copyright {
  display: flex;
  gap: 48px;
  color: #FFFFFF;
  opacity: 0.7;
}

@media (max-width: 650px) {
  .footer__copyright {
    flex-direction: column;
  }
}

.footer__copyright p:hover {
  cursor: pointer;
}

/* Article */

.wrapper {
  display: grid;
  grid-template-areas: 
  'article aside'
  'article__footer article__footer';
  grid-template-columns: 66% 1fr;
  gap: 24px;  
}

@media (max-width: 1000px) {
  .wrapper {
  grid-template-areas: 
  'article'
  'aside';
  grid-template-columns: 100%;
  }
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
  margin-right: 10px;
}

.article__footer {
  grid-area: article__footer;
}

.article {
  font-size: 16px;
  font-weight: 500;
}

.article p {
  margin-bottom: 54px;
  line-height: 24px;
}

.article h3 {
  margin-bottom: 16px;
}

.article__header h2{
  margin-bottom: 16px;
  max-width: 690px;
}

.article__header p{
  font-size: 14px;
  color: #494949;
  margin-bottom: 24px;
}

.article__img img {
  width: 100%; 
  margin-bottom: 24px;
}

.article__content {
  max-width: 690px;
}

.article__content h5{
  margin-bottom: 16px;
}

.article__content-items {
  max-width: 588px;
  margin-bottom: 24px;
}

.article__item {
  line-height: 24px;
  padding-left: 32px;
  position: relative;
}

.article__item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #03b2a5;
  position: absolute;
  left: 0;
  top: 8px;
  margin-left: 8px;  
}

.article__content-item {
  text-decoration:underline;
  margin-bottom: 14px;
}

.article__content-item:nth-child(2)::before {
  top: 10%;
}

.article__content-item-headings {
  padding-left: 20px;
  margin-bottom: 4px;
}

.article__header1 p:last-of-type {
  margin-bottom: 40px;
}

.article__header1-quote {
  background-color: #F3F7FE;
  border-radius: 16px;
  padding: 34px 24px 24px 24px;
  margin-bottom: 24px;
  position: relative;
}

.article__header1-quote::after{
  content: '';
  background-image: url('../images/article/quotes.svg');
  position: absolute;
  width: 55px;
  height: 36px;
  left: 24px;
  top: 24px;
  z-index: 2;
}

.article__header1-quote p {
  margin-bottom: 8px;
}

.article__header2-items {
  margin-bottom: 40px;
}

.article__header2-item {
  margin-top: 16px;
}

.article__header2-image img{
  width: 100%;
  margin-bottom: 16px;
}

.article__header2-image p {
  font-size: 14px;
  color: #868686;
}

.article__header2-quote {
  max-width: 485px;
  height: 168px;
  font-style: italic;
  margin: 0 auto;
  line-height: 24px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}

.article__header2-quote::before {
  content: '';
  background-image: url('../images/article/decor1.svg');
  width: 240px;
  height: 168px;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: -1;
}

.article__block {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

@media (max-width: 625px){
  .article__block {
    flex-wrap: wrap;
  }
}

.article__block img {
  max-width: 280px;
}

@media (max-width: 625px){
  .article__block img {
    width: 100%;
    margin: 0 auto;
  }
}

.article__exercise {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 16px;
} 

.article__header2-exercise {
  background-color: #FEFAEC;
}

.article__exercise p:first-child {
  margin-bottom: 8px;
}

.article__header3-items {
  margin-bottom: 24px;
}

.article__header3-item {
  margin-top: 16px;
}

.article__header3-exercise {
  background-color: #FFF3EB;
}

.article__header3-block2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 715px){
  .article__header3-block2 {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
  }
}

.article__header3-block2-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 333px;
  height: 100%;
}

.article__header3-block2-item img {
  width: 100%;
}

.article__end {
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 72px;
}

.article__end svg{
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.article__end-exercise {
  background-color: rgba(3, 178, 165, 0.1);
}

.article-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-bottom: 48px;
}

.article-link a {
  font-size: 14px;
  line-height: 20px;
  color: #2963A3;
}

.article-link:not(:first-child)::before {
  content: '·';
  margin-right: 10px;
}

.article__footer {
 display: flex;
 justify-content: space-between;
 position: relative;
}

@media (max-width: 1000px) {
  .article__footer {
    display: none;
   }
}

.article__footer-block {
  max-width: 350px;
}

.article__footer-block h2 {
  margin-bottom: 24px;
}

.article__footer-block p {
  margin-bottom: 32px;
}

.article__footer-btn {
  padding: 20px 24px;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 4px;
  background-color: #16C8BB;
  transition: background-color 0.2s;
  margin-bottom: 158px;
}

.article__footer-btn:hover {
  cursor: pointer;
  background-color: #18dacd;
}

.article__footer img {
  width: 520px;
  height: 330px;
}

.decor2 {
  background-image: url('../images/article/decor2.svg');
  background-repeat: no-repeat;
  width: 686px;
  height: 606px;
  position: absolute;
  top: 45%;
  right: -470px;
}

.decor3 {
  background-image: url('../images/article/decor3.svg');
  background-repeat: no-repeat;
  width: 272px;
  height: 240px;
  position: absolute;
  bottom: 185px;
  right: -200px;
}

.decor4 {
  background-image: url('../images/article/decor4.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  .decor2 {
    display: none;
  }
  .decor3 {
    display: none;
   }
  .decor4 {
    display: none;
  }
}

/* aside */

.aside__cards {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .aside__cards {
    gap: 36px;
  }
}

.aside__cards_big, .aside__cards_small {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 1000px) {
  .aside__cards_big, .aside__cards_small {
    flex-direction: row;
    justify-content: space-between;
    align-items:  stretch;
    gap: 24px;
  }
  .aside__cards_small {
   margin-bottom: 60px;
  }
}

@media (max-width: 625px) {
  .aside__cards_big, .aside__cards_small {
    flex-wrap: wrap;
    justify-content: center;

  }
}

.aside__card {
  width: 70%;
}

.aside__card-register {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  height: 100%;
  background-color: #E6F0FD;
  border-radius: 16px;
  margin-top: 88px;
  margin-bottom: 24px;
}

.aside__card-registe-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aside__card-registe-text h4, .aside__card-registe-text p {
  text-align: center;
}

.aside__card-btn {
  color: #FFFFFF;
  padding: 12px 0;
  background-color: #35B3A9;
  border-radius: 4px;
}

.aside__card-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 16px 36px 16px;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
  margin-bottom: 28px;
  position: relative;
}

.aside__card-profile-categories {
  position: absolute;
  left: 16px;
  top: 16px;
}
.aside__card-profile-category {
  font-size: 12px;
  font-weight: 500;
  padding: 3px 6px 3px 26px;
  background-color: rgba(243, 244, 248, 0.7);
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;
}

.aside__card-profile-category:first-child::before {
  content: '';
  background-image: url('../images/aside/profile-category1.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 16px;
  left: 6px;
  top: 2px;
}

.aside__card-profile-category:last-child::before {
  content: '';
  background-image: url('../images/aside/profile-category2.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 16px;
  left: 6px;
  top: 2px;
}

.aside__card-profile img {
  max-width: 120px;
  height: 120px;
  border-radius: 100%;
}

.aside__card-profile-info {
  text-align: center;
}

.aside__card-profile-info p {
  font-weight: 600;
  margin-bottom: 4px;
}

.aside__card-profile-info span {
  font-size: 14px;
  font-weight: 500;
  color: #A2A7B1;
}

.aside__card-profile-list {
  margin-bottom: 8px;
}

.aside__card-profile-item {
  position: relative;
  padding-left: 24px;
  margin-top: 8px;
}

.aside__card-profile-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #03b2a5;
  position: absolute;
  left: 0;
  top: 30%;
  margin-left: 6px;  
}

.aside__card-profile-btn {
  width: 100%;
}

.aside__card-promo {
  margin-bottom: 42px;
}

.aside__card-promo img {
  width: 100%;
}

.aside__card-video-course {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
  position: relative;
  overflow: hidden;
}

.aside__card-video-course h3 {
  color: #2963A3;
}

.aside__card-video-course h3 span {
  font-size: 18px;
}

.aside__card-video-course p {
  font-family: 'Open+Sans';
  font-size: 14px;
  line-height: 20px;
  color: #011632;
  max-width: 196px;
}

.aside__card-video-course span {
  font-size: 24px;
  font-weight: 700;
}

.aside__card-video-course-btn {
  padding: 12px 23px;
  background-color:#35B3A9;
  color: #FFFFFF;
  border-radius: 4px;
  max-width: 108px;
}

.aside__card-video-course::before {
  content: '';
  background-image: url('../images/aside/aside__card-video-course-img.png');
  background-repeat: no-repeat;
  width: 112px;
  height: 106px;
  position: absolute;
  right: 8px;
  bottom: -23px;
}

.aside__card-video-course::after {
  content: '';
  background-image: url('../images/aside/aside__card-video-course-img_blue.png');
  background-repeat: no-repeat;
  width: 112px;
  height: 106px;
  position: absolute;
  right: -25px;
  bottom: -35px;
}

.aside__btn{
  transition: background-color 0.2s;
}

.aside__btn:hover {
  cursor: pointer;
  background-color: #3dc7bb;
}

@media (max-width: 1000px) {
  .aside__card {
    width: 48%;
    margin: 0;
  }
}

@media (max-width: 625px) {
  .aside__card {
    width: 100%;
    margin: 0;
  }
}


